<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.guchiBoard.dao.MedicalCheckMapper">

<!-- 新規健康診断結果登録 -->
	<insert id="addMedical" 
		parameterType="com.example.guchiBoard.dto.MedicalCheckForm">  
<!-- 		INSERT INTO medical_check
		(user_id, year, pdf_path, picture_path, url_path, updated_date, created_date)
		VALUES
		(#{userId}, #{checkYear}, #{pdfPath}, #{picturePath}, #{urlPath},
		CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) -->
		INSERT INTO medical_check
		(user_id, year, picture_path, updated_date, created_date)
		VALUES
		(#{userId}, #{checkYear}, #{picturePath}, 
		CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
	</insert>

<!-- 新規健康診断結果表示/非表示 -->	
	<insert id="displayMedical" 
		parameterType="com.example.guchiBoard.dto.MedicalCheckForm">  
		UPDATE medical_check SET display = 'TRUE'
		where user_id=#{param1} AND year=#{param2}
	</insert>
<!-- 新規健康診断結果表示 -->	
	<select id="searchImage" 
		resultType="String">  
		<!-- SELECT picture_path from medical_check where user_id=#{param1} AND year=#{param2} -->
		SELECT picture_path from medical_check where user_id=#{param1} AND display=TRUE
	</select>
</mapper>