<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.guchiBoard.dao.ReplyMapper">
<!-- 新規返信登録 -->
	<insert id="addReply" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.example.guchiBoard.dto.ReplyForm">  <!-- parameterType="Post" -->
		INSERT INTO reply_comments
		(post_id, comments, updated_date, created_date)
		VALUES
		(#{postId}, #{replyComments},
		CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
	</insert>
	
	<!-- 投稿に対する返信検索 -->
	<select id="findReply"
		resultType="com.example.guchiBoard.entity.Reply">
		select * from reply_comments where post_id=#{param1}
	</select>
</mapper>
