<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.example.guchiBoard.dao.UserMapper">

<!-- ユーザー検索 -->	
	<select id="findByEmail" 
		resultType="com.example.guchiBoard.entity.User">  
		
		SELECT * from users where email=#{param1}
	</select>
	
<!-- ユーザー名検索 -->	
	<select id="findByUsername" resultType="com.example.guchiBoard.entity.User">
        SELECT * FROM users WHERE name = #{userName}
    </select>
	
<!-- ユーザー登録 -->	
	<insert id="addUser" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.example.guchiBoard.entity.User">  <!-- parameterType="Post" -->
		INSERT INTO users
		(email, password, name, roles, updated_date, created_date)
		VALUES
		(#{email}, #{password}, #{name}, #{roles},
		CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
	</insert>
</mapper>