<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>コメント</title>
</head>

<body>
	<div id="wrap">
		<main th:replace="layouts/common.html"></main>
	</div>
	
<div class="card" th:each="post : ${posttaglist}" th:object="${post}">
	<td th:text="*{id}"></td>
			<h5 class="card-title" th:text="*{title}"></h5>
			<p class="card-text" th:text="*{post}"></p>
 				<div class="card" th:each="reply, stat : ${post.replyList}" th:object="${reply}">
					<p class="card-text" th:text="*{replyComments}"></p>
				</div>
				
				<!-- <button type="button" 
					class="btn btn-info" th:text="${post.replyList.size()} + '名が回答済'" disabled></button> -->
</div> 
</body>