<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>返信</title>
</head>
<body>
	<div id="wrap">
		<main th:replace="layouts/common.html"></main>
	</div>
	<div class="container">
	<h1>返信</h1>
			<!-- エラーメッセージ -->
	<table>
        <tr th:if="${validationError}" th:each="error : ${validationError}">
            <td style="color: red;" th:text="${error}"></td>
        </tr>
    </table>
 	 <form th:action="@{/reply/__${replyForm.postId}__/add}" th:object="${replyForm}" th:method="post"> 
			<div class="form-group">
			<label>返信：</label> 
			<!-- <span th:if="${#fields.hasErrors('replyComments')}" th:errors="*{replyComments}" style="color: red"></span> -->
			<label class="visually-hidden" for="inlineFormInputGroupUsername">コメント入力</label>
			<textarea th:field="*{replyComments}" class="form-control form-control-lg" id="inlineFormInputGroupUsername" placeholder="コメント入力" rows="3"></textarea>
		</div> 
		
			<div class="text-center">
			<a href="/main"
				class="btn btn-secondary">キャンセル</a>
			<input type="submit" value="返信" 
				class="btn btn-primary"> 
		</div>
 	</form>
	</div>
	
	
</body>
</html>
