<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>健康診断登録</title>
</head>
<body>
	<div id="wrap">
		<main th:replace="layouts/common.html"></main>
	</div>

	<div class="container">
		<h1>健康診断登録</h1>

		<select>
			<option value="0">-------</option>
			<option value="1">PDFで登録</option>
			<option value="2">写真で登録</option>
			<option value="3">URLで登録</option>
			<option value="4">手入力で登録</option>
		</select>

		<form th:action="@{/medicalcheck/add}" th:object="${medicalForm}"
			th:method="post" enctype="multipart/form-data">

			<div class="form-group">
				<label>年度：</label> <input type="text" th:field="*{checkYear}"
					class="form-control">
			</div>

<!-- 			<div class="form-group">
				<label>PDF：</label> <input type="file" th:field="*{mFile}"
					class="form-control">
			</div> -->

			<div class="form-group">
				<label>写真：</label> <input type="file" th:field="*{mFile}"
					class="form-control">
			</div>
			
			<br />
			<div class="text-center">
			<a href="/main"
				class="btn btn-secondary">キャンセル</a>
			<input type="submit" value="投稿" 
				class="btn btn-primary"> 
		</div>
		</form>
		
		<!-- テスト用コード -->
		<form th:action="@{/medicalcheck/upload}" th:object="${medicalForm}"
			th:method="post">
			
			<div class="form-group">
				<label>Id：</label> <input type="text" th:field="*{userId}"
					class="form-control">
			</div>
			<div class="form-group">
				<label>年度：</label> <input type="text" th:field="*{checkYear}"
					class="form-control">
			</div>
			
			<br />
			<input type="submit" value="健康診断結果を回答" 
				class="btn btn-primary"> 
		</form>
		<!-- <img th:src="${base64Data}" type="application/pdf"> -->
		 <!-- <object data="${pdf}" type="application/pdf"></object> -->
		 <iframe th:src="${base64Data}" width="100%" height="100%"></iframe>
		
	</div>